d-i debian-installer/locale string pt_BR.UTF-8
d-i keyboard-configuration/xkb-keymap select br
#d-i netcfg/get_hostname string aliceOS
#d-i netcfg/get_domain string localdomain
d-i netcfg/hostname string aliceOS
d-i passwd/user-default-groups string cdrom floppy sudo audio dip video plugdev netdev
d-i clock-setup/utc boolean true
d-i time/zone string America/Sao_Paulo
d-i clock-setup/ntp boolean true
d-i apt-setup/use_mirror boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/cdrom/set-first boolean false
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false
#d-i apt-setup/local0/repository string http://seudominio.com/repositorio ./
#d-i apt-setup/local0/source boolean true
#d-i apt-setup/local0/key string http://seudominio.com/chave
#d-i preseed/late_command string in-target echo "deb [trusted=yes] http://seudominio.com/repositorio/ ./" >> /target/etc/apt/sources.list
